// STYLES BUTTONS
%btn {
  width: 100%;
  padding: .8em;
  margin-top: 1em;
  display: block;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}
%gridbars {
  padding: .8em;
  margin-top: 1em;
  display: block;
  border-radius: 5px;
  border: none;
  font-size: 1em;
  }
