
/* ==========================================================================
                        COLORS
========================================================================== */
$primary-colorT: #89ffd3;
$seconday-colorL: #4bf2ef;
$green: #6fdc6f;
$red: #ff6666;
$orange: orange;
$purple: #bf80ff;
$white: white;

/* ==========================================================================
                        FONTS
========================================================================== */
$primary-fontS: arial, "Times New Roman", courier, serif;
