//Buttons:
.btn--default {
  background-color: $seconday-colorL;
  @extend %btn;


}
.btn--success {
   background-color: $success;
   @extend %btn;

}
.btn--error {
  background-color: $error;
  @extend %btn;

}
.btn--warning {
  background-color: $warning;
  @extend %btn;

}
.btn--info {
  background-color: $info;
  @extend %btn;

}
.theme__colors {

}
